.viewScreen {
    display: flex;
    height: 100vh;
    overflow: hidden;
    /* Zabráníme rolování celé stránky */
}

.contentWrapper {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.mainContent {
    flex: 1;
    /* Zabere zbytek místa pod TopPanel */
    overflow-y: auto;
    /* TADY JE TA MAGIE: Roluje se jen tato část */
}